@model HW6.Models.Product

@{
    ViewBag.Title = "Product";
}

<center><h2>@Html.DisplayFor(model => model.ProductModel.Name)</h2></center>

<div class="row col-md-12">
    <h4>
        <span>@Html.ActionLink(Model.ProductSubcategory.Name, "Products/" + Model.ProductSubcategoryID)</span> >
        <span>@Html.DisplayFor(model => model.ProductModel.Name)</span>
    </h4>
    <hr />
    <div class="row col-md-8">
        <div class="col-md-3">
            <img src="@Url.Action("ProductImage", "Products", new { ID = Model.ProductID, thumbnail = false })" />
        </div>

        <dl class="dl-horizontal col-md-5">
            <dt>
                Product #
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dt>
                Price
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.ListPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>

            <dd>
                <span>@Html.DisplayFor(model => model.Size)</span><span> @ViewBag.SizeUnit</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                <span>@Html.DisplayFor(model => model.Weight)</span> @ViewBag.WeightUnit<span></span>
            </dd>
        </dl>

        <dl class="dl-horizontal col-md-4">
            <dt>
                Rating
            </dt>

            <dd>
                @ViewBag.Rating
            </dd>

            <dt>
                # of Reviews
            </dt>

            <dd>
                @ViewBag.NumOfReviews
            </dd>
        </dl>
    </div>
</div>
<br />
<div class="row panel-group col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseReviews">Reviews</a>
            </h4>
        </div>
        <div id="collapseReviews" class="panel-collapse collapse">
            <div class="panel-body">
                @if (ViewBag.NumofReviews == 0)
                {
                    <span>Be the first to review this product</span>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductReviews.FirstOrDefault().ReviewerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductReviews.FirstOrDefault().EmailAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductReviews.FirstOrDefault().Rating)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductReviews.FirstOrDefault().Comments)
                            </th>
                        </tr>
                        @foreach(var item in Model.ProductReviews.ToList())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
            <div class="panel-footer"><a href="#">Back to top</a></div>
        </div>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Back to List", "Products/" + Model.ProductSubcategoryID)
</p>
