@model IEnumerable<HW6.Models.Product>

@{
    ViewBag.Title = "Products";
}

<center><h2>@Html.DisplayFor(modelItem => modelItem.First().ProductSubcategory.Name)</h2></center>

<div class="row">
    @foreach (var item in Model)
    {
        <center><div class="col-md-4" style="padding-bottom: 2em">
            <div>
                <img src="@Url.Action("ProductImage", "Products", new { ID = item.ProductID, thumbnail = true })" />
            </div>
            <div>
                <strong>@Html.ActionLink(item.Name, "Product", new { id = item.ProductID })</strong>
            </div>
            <div>
                Product #: @Html.DisplayFor(modelItem => item.ProductNumber)
            </div>
            <div>
                <strong>$@Html.DisplayFor(modelItem => item.ListPrice)</strong>
            </div>
        </div></center>
    }
</div>
<br />
@*@{ look at Bootstrap pagination
    int page = 1;
    for (int i = 0; i < ViewBag.NumberofPages; i = i + 6)
    {
        string p = page.ToString();
        @Html.ActionLink(p, "Products/" + Model.First().ProductSubcategoryID + "/" + page , "Products")
        page++;
    }
}*@
