@model IEnumerable<HW7.Models.StockRequest>

@{
    ViewBag.Title = "RequestLog";
}

<center><h2>Stock Request Log</h2></center>

<!-- Simple view and table to list the stock requsts made to this application -->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockSymbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Browser)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StockSymbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Browser)
        </td>
    </tr>
}

</table>
