@model HW5.Models.Request

@{
    ViewBag.Title = "Create";
}

<center><h2>Request Change of Major/Minor/Advisor Form</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Form for user to fill out a request for a change of major -->
    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.VNo, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.VNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "########", @min = "00000001", @max = "99999999" } })
                    @Html.ValidationMessageFor(model => model.VNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><br />

        <div class="row form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><br />

        <div class="row form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "5551234567", @min = "1110000000", @max = "9999999999" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "something@myemail.com" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><br />

        <div class="row form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.CatalogYear, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.CatalogYear, new SelectList(new string[] { "2010-11", "2011-12", "2012-13", "2013-14", "2014-15", "2015-16", "2016-17" }), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CatalogYear, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><br />

        <div class="row form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Major, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Major, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Major, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Minor, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Minor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Minor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><br /> 

        <div class="row form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Advisor, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Advisor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Advisor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><br />

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div><br />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
